<Fragment @hash="test" class="content full-h">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac tempus urna, eu consectetur diam. Phasellus purus
    dolor,
    interdum eu risus ac, pulvinar pulvinar urna. Quisque gravida viverra rhoncus. Suspendisse luctus orci sed ligula
    semper
    dapibus. Vestibulum nisi enim, suscipit sed velit non, tempus dapibus arcu. Curabitur sagittis nulla felis, et
    accumsan
    lectus viverra sit amet. Ut laoreet imperdiet velit, sit amet feugiat velit venenatis non. Cras varius a libero ac
    tincidunt. Proin non leo sit amet odio lacinia consequat sed non tellus. Nulla facilisi. Donec et mi mauris.</p>
</Fragment>

<Fragment @hash="test2" class="content full-h" @tagName={{element 'section' }}>
  <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Pellentesque habitant morbi
    tristique senectus et netus et malesuada fames ac turpis egestas. Etiam vel euismod augue. Fusce quam nulla, pretium
    eget tellus ac, lobortis iaculis dolor. Cras a dui id enim malesuada dignissim suscipit eget purus. Nulla nunc
    magna,
    placerat non laoreet ac, commodo in tortor. Aliquam tincidunt dui rutrum, tincidunt nulla non, consequat augue.
    Maecenas
    arcu orci, ultricies et nunc in, facilisis ornare metus. Proin congue non dui ut dapibus. Nam sed varius nisi.
    Suspendisse odio ante, efficitur ut risus at, sodales mollis urna. Phasellus laoreet lobortis neque in pellentesque.
    Praesent laoreet nisi ut justo posuere, eu maximus ante congue.</p>
</Fragment>

<Fragment @hash="test3" class="content full-h">
  <p>Donec dictum ligula justo, ac bibendum lectus vestibulum cursus. Suspendisse mauris leo, aliquet nec justo sit
    amet,
    vulputate maximus lacus. Pellentesque sed erat ac neque lobortis vestibulum. Praesent in ante sapien. Vivamus nec
    ante
    aliquet, pharetra nulla condimentum, vulputate nulla. Nunc dignissim ligula venenatis, viverra felis ac, suscipit
    sem.
    Pellentesque sit amet urna at odio iaculis venenatis. Maecenas scelerisque augue felis, in ultricies lectus
    egestas et.
    Maecenas vel nisl eget neque laoreet tristique. Proin dictum augue ut sem accumsan scelerisque. Nam mattis libero
    turpis, nec porta erat euismod sit amet.</p>
</Fragment>