<h2>
  Other page
</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac tempus urna, eu consectetur diam. Phasellus purus
  dolor,
  interdum eu risus ac, pulvinar pulvinar urna. Quisque gravida viverra rhoncus. Suspendisse luctus orci sed ligula
  semper
  dapibus. Vestibulum nisi enim, suscipit sed velit non, tempus dapibus arcu. Curabitur sagittis nulla felis, et
  accumsan
  lectus viverra sit amet. Ut laoreet imperdiet velit, sit amet feugiat velit venenatis non. Cras varius a libero ac
  tincidunt. Proin non leo sit amet odio lacinia consequat sed non tellus. Nulla facilisi. Donec et mi mauris.</p>